#  Gahrimanli Lamia  _  Capstone Project  _  Cleaning

In [218]:
import pandas as pd
import numpy as np
import regex as re

In [220]:
df = pd.read_excel('data_cleaning.xlsx','Usage', header=None)
df = pd.DataFrame(df)
df

                                              0
0         3 PM  Mon 24th-Mar-2014___0.384 kwh
1                5AM  15-Aug-2014___1.201  kwh
2          __8PM Thu 20-Mar-2014____1.523 kwh
3               6PM  23rd-Apr-2014___0.424  kwh
4     _1AM  Friday 19th-Dec-2014___0.209  kwh
...                                         ...
8755         _1AM  Fri 07th-Nov-2014_0.084 kwh
8756                _6AM 20-May-2014__1.027 kwh
8757   __2 AM  Tuesday 8th-Apr-2014___0.052 kwh
8758            9 PM 27th-Jan-2014_1.428  kwh
8759          _12 PM 25th-Aug-2014_0.528  kwh

[8760 rows x 1 columns]

In [222]:
df.head(3)

                                        0
0   3 PM  Mon 24th-Mar-2014___0.384 kwh
1          5AM  15-Aug-2014___1.201  kwh
2    __8PM Thu 20-Mar-2014____1.523 kwh

In [224]:
df.tail()

                                              0
8755         _1AM  Fri 07th-Nov-2014_0.084 kwh
8756                _6AM 20-May-2014__1.027 kwh
8757   __2 AM  Tuesday 8th-Apr-2014___0.052 kwh
8758            9 PM 27th-Jan-2014_1.428  kwh
8759          _12 PM 25th-Aug-2014_0.528  kwh

In [226]:
df.describe()

                                           0
count                                   8760
unique                                  8754
top     __8PM Thu 20-Mar-2014____1.523 kwh
freq                                       2

In [228]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8760 non-null   object
dtypes: object(1)
memory usage: 68.6+ KB

In [230]:
df[0].iloc[7700:7750]

7700             11 PM Thu 07-Aug-2014__0.69 kwh
7701           _11AM   23-Nov-2014___0.305  kwh
7702             _3 AM   30th-Mar-2014_0.242 kwh
7703            9PM   Wed 31-Dec-2014___0.766kwh
7704         __5AM  Sat 7th-Jun-2014____0.578kwh
7705      _4PM  Friday 18-Apr-2014___0.102  kwh
7706       __11 AM Friday 3rd-Oct-2014_0.273 kwh
7707                 __3AM 28-Feb-2014___0.23kwh
7708          __10AM  Fri 31-Oct-2014__0.202  kwh
7709            5AM Sat 8th-Mar-2014_0.235  kwh
7710           _12 AM   23rd-Nov-2014__0.324 kwh
7711        10 AM  Wed 22nd-Oct-2014____0.209kwh
7712             __12AM  6-May-2014___0.233  kwh
7713              __2 PM  6-Feb-2014__0.475  kwh
7714           __6 PM  19th-Aug-2014____1.966 kwh
7715          __10 PM  Fri 3rd-Oct-2014__0.496kwh
7716       _8 AM   Fri 19-Dec-2014____0.444  kwh
7717       __8PM   Thursday 25-Sep-2014__0.907kwh
7718      _8PM  Monday 3rd-Mar-2014___1.037 kwh
7719             _5AM   22-Mar-2014____0.192 kwh
7720      __10AM   Fri 13th-Jun-2014___0.619 kwh
7721        _2AM   Wed 6th-Aug-2014___0.211  kwh
7722              7 AM  14-Apr-2014____0.257 kwh
7723                 10AM   15-Sep-2014_0.33  kwh
7724        10PM  Thu 13th-Feb-2014___0.51  kwh
7725             11AM Thu 31-Jul-2014__0.972  kwh
7726     _2 PM Monday 20th-Jan-2014____0.808  kwh
7727         _11PM   Sunday 12-Jan-2014_0.91 kwh
7728      __7 AM  Thursday 18-Sep-2014_0.561  kwh
7729             8AM Thu 20th-Mar-2014__0.291 kwh
7730      __10 PM  Wed 09th-Jul-2014___0.984  kwh
7731        __7AM Saturday 1st-Feb-2014_1.368kwh
7732              _6PM  31-May-2014___1.152 kwh
7733                _6 AM 22nd-Feb-2014_1.085 kwh
7734      __11 PM   Tue 3rd-Jun-2014____0.738 kwh
7735       __9 PM   Friday 10-Oct-2014__0.211kwh
7736            6 AM  Fri 19-Dec-2014_1.056 kwh
7737                 6AM  3rd-Jul-2014_3.283kwh
7738              __11PM   10-Apr-2014_0.128  kwh
7739             3 AM Wed 12-Feb-2014___0.276kwh
7740               __11 PM   11-Feb-2014_0.516kwh
7741              __6 PM  29th-Sep-2014___0.99kwh
7742            7AM   Fri 28-Mar-2014__0.619  kwh
7743           __9AM  Fri 24-Jan-2014____0.606kwh
7744             __9PM 27-Aug-2014___0.864  kwh
7745                  __6PM 28-Feb-2014_1.882kwh
7746            __11AM 28th-Nov-2014__0.257 kwh
7747                 7AM  12-Dec-2014__1.099  kwh
7748       11 PM   Friday 11th-Jul-2014_2.472kwh
7749             __8PM Thu 09th-Jan-2014_3.36 kwh
Name: 0, dtype: object

In [232]:
df[0] = df[0].str.replace(
    r'(sunday|monday|tuesday|wednesday|thursday|friday|saturday|Sunday|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|ne|uay|sday|day|sun|mon|tue|wed|thu|fri|sat|Sun|Mon|Tue|Wed|Thu|Fri|Sat|st|nd|rd|th|_|__|___|  | )', 
    '', 
    
    regex=True
)

In [234]:
df.head()

                        0
0  3PM24-Mar-20140.384kwh
1  5AM15-Aug-20141.201kwh
2  8PM20-Mar-20141.523kwh
3  6PM23-Apr-20140.424kwh
4  1AM19-Dec-20140.209kwh

In [236]:
pattern = r'(\d+(?:AM|PM))(\d{1,2}-\w{3}-\d{4})(\d+\.\d+)kwh'

#(\d+(?:AM|PM))         # Group 1: time like 1PM, 12AM
#(\d{1,2}-\w{3}-\d{4})   # Group 2: date like 5-Apr-2025
#(\d+\.\d+)kwh           # Group 3: number like 1.23 followed by 'kwh'

In [238]:
def info(row):
    match = re.search(pattern, row)
    if match:
        return match.group(1), match.group(2), match.group(3),
    else:
        return None, None, None,

#match.group(1) â†’ time
#match.group(2) â†’ date
#match.group(3) â†’ energy usage

In [240]:
df[['Time','Date', 'kWh']] = df[0].apply(info).apply(pd.Series)
df.head()

                        0 Time         Date    kWh
0  3PM24-Mar-20140.384kwh  3PM  24-Mar-2014  0.384
1  5AM15-Aug-20141.201kwh  5AM  15-Aug-2014  1.201
2  8PM20-Mar-20141.523kwh  8PM  20-Mar-2014  1.523
3  6PM23-Apr-20140.424kwh  6PM  23-Apr-2014  0.424
4  1AM19-Dec-20140.209kwh  1AM  19-Dec-2014  0.209

In [241]:
df[['Hour', 'AM/PM']] = df['Time'].str.extract(r'(\d+)\s*(AM|PM)', expand=True)
df.head()

                        0 Time         Date    kWh Hour AM/PM
0  3PM24-Mar-20140.384kwh  3PM  24-Mar-2014  0.384    3    PM
1  5AM15-Aug-20141.201kwh  5AM  15-Aug-2014  1.201    5    AM
2  8PM20-Mar-20141.523kwh  8PM  20-Mar-2014  1.523    8    PM
3  6PM23-Apr-20140.424kwh  6PM  23-Apr-2014  0.424    6    PM
4  1AM19-Dec-20140.209kwh  1AM  19-Dec-2014  0.209    1    AM

In [244]:
df[['Day', 'Month','Year']] = df['Date'].str.extract(r'(\d+)-(\w+)-(\d+)', expand=True)
df.head()

                        0 Time         Date    kWh Hour AM/PM Day Month  Year
0  3PM24-Mar-20140.384kwh  3PM  24-Mar-2014  0.384    3    PM  24   Mar  2014
1  5AM15-Aug-20141.201kwh  5AM  15-Aug-2014  1.201    5    AM  15   Aug  2014
2  8PM20-Mar-20141.523kwh  8PM  20-Mar-2014  1.523    8    PM  20   Mar  2014
3  6PM23-Apr-20140.424kwh  6PM  23-Apr-2014  0.424    6    PM  23   Apr  2014
4  1AM19-Dec-20140.209kwh  1AM  19-Dec-2014  0.209    1    AM  19   Dec  2014

In [246]:
df.info()    #need string dtypes convert to float type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8760 non-null   object
 1   Time    8760 non-null   object
 2   Date    8760 non-null   object
 3   kWh     8760 non-null   object
 4   Hour    8760 non-null   object
 5   AM/PM   8760 non-null   object
 6   Day     8760 non-null   object
 7   Month   8760 non-null   object
 8   Year    8760 non-null   object
dtypes: object(9)
memory usage: 616.1+ KB

In [248]:
df = df.drop([0],axis = 1)
df.head()

  Time         Date    kWh Hour AM/PM Day Month  Year
0  3PM  24-Mar-2014  0.384    3    PM  24   Mar  2014
1  5AM  15-Aug-2014  1.201    5    AM  15   Aug  2014
2  8PM  20-Mar-2014  1.523    8    PM  20   Mar  2014
3  6PM  23-Apr-2014  0.424    6    PM  23   Apr  2014
4  1AM  19-Dec-2014  0.209    1    AM  19   Dec  2014

In [250]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%Y')
df['kWh']=df['kWh'].astype(np.float64)
df['Day']=df['Day'].astype(np.float64)
df['Year']=df['Year'].astype(np.float64)
df['Hour']=df['Hour'].astype(np.float64)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    8760 non-null   object
 1   Date    8760 non-null   datetime64[ns]
 2   kWh     8760 non-null   float64
 3   Hour    8760 non-null   float64
 4   AM/PM   8760 non-null   object
 5   Day     8760 non-null   float64
 6   Month   8760 non-null   object
 7   Year    8760 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 547.6+ KB

In [252]:
df.isna().sum()

Time     0
Date     0
kWh      0
Hour     0
AM/PM    0
Day      0
Month    0
Year     0
dtype: int64

In [254]:
df.head()

  Time       Date    kWh  Hour AM/PM   Day Month    Year
0  3PM 2014-03-24  0.384   3.0    PM  24.0   Mar  2014.0
1  5AM 2014-08-15  1.201   5.0    AM  15.0   Aug  2014.0
2  8PM 2014-03-20  1.523   8.0    PM  20.0   Mar  2014.0
3  6PM 2014-04-23  0.424   6.0    PM  23.0   Apr  2014.0
4  1AM 2014-12-19  0.209   1.0    AM  19.0   Dec  2014.0

In [256]:
df['Weekday'] = df['Date'].dt.day_name()
df.head()

  Time       Date    kWh  Hour AM/PM   Day Month    Year    Weekday
0  3PM 2014-03-24  0.384   3.0    PM  24.0   Mar  2014.0     Monday
1  5AM 2014-08-15  1.201   5.0    AM  15.0   Aug  2014.0     Friday
2  8PM 2014-03-20  1.523   8.0    PM  20.0   Mar  2014.0   Thursday
3  6PM 2014-04-23  0.424   6.0    PM  23.0   Apr  2014.0  Wednesday
4  1AM 2014-12-19  0.209   1.0    AM  19.0   Dec  2014.0     Friday

# Question 1  - b. 0.782kWh
#What is your average hourly electricity usage?

In [259]:
data1 = pd.read_excel('data_cleaning.xlsx', sheet_name='Contracts', 
                     usecols = "A:C, E:G, I:K",  header = 0, keep_default_na=False, skiprows=10)

#'data_cleaning.xlsx'	The Excel file to read from
#sheet_name='Contracts'	Use the sheet named "Contracts"
#usecols="A:C, E:G, I:K"	Only pull in selected columns (skip D, H, etc.)
#header=0	Use the first row after skipping as column names
#keep_default_na=False	Prevent empty cells from being turned into NaN automatically
#skiprows=10	Skip the first 10 rows (e.g., metadata, notes, etc.)

data1 =pd.DataFrame(data1)
data1.head()

,No Flex,Unnamed: 1,Unnamed: 2,Monthly Flex,Unnamed: 5,Unnamed: 6,Hourly Flex,Unnamed: 9,Unnamed: 10
0,,,,,,,,,
1,Flat Rate,0.21,$/kWh,January,0.2,$/kWh,12AM until 1AM,0.1,$/kWh
2,,,,February,0.19,$/kWh,1AM until 2AM,0.1,$/kWh
3,,,,March,0.17,$/kWh,2AM until 3AM,0.1,$/kWh
4,,,,April,0.18,$/kWh,3AM until 4AM,0.1,$/kWh

In [261]:
df['kWh'].mean()

0.7817481735159817

# Question 2    - d. 0.834kWh
#What is your average electricity usage perhour in February?

In [264]:
a = df.groupby('Month')['kWh'].mean()
a

Month
Apr    0.210355
Aug    0.852304
Dec    0.763689
Feb    0.833735
Jan    1.401425
Jul    1.687300
Jun    1.255096
Mar    0.566562
May    0.560987
Nov    0.322806
Oct    0.421665
Sep    0.485011
Name: kWh, dtype: float64

In [266]:
a.iloc[3]

0.8337347242921014

# Question 3    - c. Tuesday
#Which day of the week has the highest average usage?

In [269]:
b = df.groupby('Weekday')['kWh'].mean().sort_values()
b

Weekday
Tuesday      0.724843
Monday       0.725894
Wednesday    0.733699
Thursday     0.746375
Friday       0.753666
Saturday     0.890300
Sunday       0.898601
Name: kWh, dtype: float64

# Question 4    - Answer :  10.593999999999996
#What is the highest amount of electricityused in a continuous 4 hour period?

In [272]:
a = df['kWh'].rolling(4).sum().max()
print('Answer : ', a)

Answer :  10.593999999999996

# Question 5  - Answer :  1433.2372
#Based on your historic electricity usage, what would your annual cost ofelectricitybe under the "Monthly Flex"contract?

In [275]:
data1.head(3)

,No Flex,Unnamed: 1,Unnamed: 2,Monthly Flex,Unnamed: 5,Unnamed: 6,Hourly Flex,Unnamed: 9,Unnamed: 10
0,,,,,,,,,
1,Flat Rate,0.21,$/kWh,January,0.2,$/kWh,12AM until 1AM,0.1,$/kWh
2,,,,February,0.19,$/kWh,1AM until 2AM,0.1,$/kWh

In [277]:
df.head(3)

  Time       Date    kWh  Hour AM/PM   Day Month    Year   Weekday
0  3PM 2014-03-24  0.384   3.0    PM  24.0   Mar  2014.0    Monday
1  5AM 2014-08-15  1.201   5.0    AM  15.0   Aug  2014.0    Friday
2  8PM 2014-03-20  1.523   8.0    PM  20.0   Mar  2014.0  Thursday

In [279]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No Flex       25 non-null     object
 1   Unnamed: 1    25 non-null     object
 2   Unnamed: 2    25 non-null     object
 3   Monthly Flex  25 non-null     object
 4   Unnamed: 5    25 non-null     object
 5   Unnamed: 6    25 non-null     object
 6   Hourly Flex   25 non-null     object
 7   Unnamed: 9    25 non-null     object
 8   Unnamed: 10   25 non-null     object
dtypes: object(9)
memory usage: 1.9+ KB

In [281]:
month = list(data1.loc[1:12, 'Monthly Flex'])
cost = list(data1.loc[1:12, 'Unnamed: 5'])
month_usage = df.groupby('Month')['kWh'].sum()
month_usage

Month
Apr     151.666
Aug     635.819
Dec     568.948
Feb     559.436
Jan    1042.660
Jul    1255.351
Jun     899.904
Mar     422.655
May     416.813
Nov     232.420
Oct     313.719
Sep     348.723
Name: kWh, dtype: float64

In [283]:
month_cost = cost * month_usage
Month_Flex = sum(month_cost)
print('Answer : ', Month_Flex)

Answer :  1433.2372

# Question 6   -  c. The Hourly Flex plan
#Based on your historic electricity usage, which of the three contracts would pro- duce the lowest annual cost?

In [286]:
no_flex = (df['kWh'].sum())*0.21
no_flex

1438.10394

In [288]:
hour_usage = df.groupby(['AM/PM','Hour'])['kWh'].sum()
hour_tarif = list(data1.loc[1:24, 'Unnamed: 9'])
hour_flex = sum(hour_tarif * hour_usage)
hour_flex

1389.35486

In [290]:
Month_Flex

1433.2372

In [292]:
print("no_flex : ", no_flex)
print("hour_flex : ", hour_flex)
print("month_Flex : ", Month_Flex)

no_flex :  1438.10394
hour_flex :  1389.35486
month_Flex :  1433.2372